/********************CASHIER STYLES START***********************/

.cashier-balance,
.deposit-data,
.withdraw,
.tr-history
{
    padding: 0px 0px;
    position: relative;
}

.cashier-balance p,
.deposit-data p,
.withdraw p,
.tr-history p
{
    margin: 0px;
}

.payment-methods-header{
    position: relative;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px;
}

.payment-methods-header-list{
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.payment-methods-header-list li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 18%;
    margin: 0px 0px 0px -4px;
    padding: 0px 1%;
}

.payment-methods-header-list li:first-child{
    margin-left: 0px;
}

.payment-methods-category{
    position: relative;
    font-size: 14px;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0px;
    text-indent: 10px;
    margin: 0px 0px 20px 0px;
    font-weight: 600;
}

.payment-forms{
    position: relative;
    width: 100%;
}

.listView-form{
    position: relative;
    width: 100%;
}

.listView-form .fieldset-group{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.listView-form fieldset{
    margin: 0px;
    padding: 0px;
    position: relative;
    border: none;
    display: inline-block;
    vertical-align: top;
    width: 172px;
    margin: 0px 0px 0px -4px;
    padding: 10px;
}

.listView-form fieldset:nth-child(1){
    margin-left: 0px;
}

.listView-form .fee{
    
}

.listView-form .limits{
    
}

.listView-form .informationText{
    
}

.listView.form .deposits{
    text-align: center;
}

.listView-form .deposits .submit-container,
.listView-form .withdrawals .submit-container
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

.listView-form .deposits input[type="button"],
.listView-form .withdrawals input[type="button"]
{
    text-transform: uppercase;
    padding: 6px 12px;
    height: auto;
    cursor: pointer;
    position: relative;
    top: 0px;
    width: auto;
    z-index: 1;
    border: none;
}

.table-wrap{
    position: relative;
    width: 100%;
    overflow-x: auto;
}

.tr-table{
    position: relative;
    border-collapse: separate;
    border: none;
    width: 100%;
}

.tr-table th,
.tr-table td
{
    position: relative;
    border: none;
}

.cashier-bottom{
    position: relative;
    width: 100%;
    margin: 10px 0px;
}

.c-bottom-container{
    position: relative;
    width: 25%;
    margin: 0px 0px 10px 0px;
}

.c-bottom-label{
    position: relative;
    display: inline-block;
    width: auto;
}

.c-bottom-amount{
    position: absolute;
    width: auto;
    display: inline-block;
    top: 0px;
    right: 0px;
}

.balance-container{
    position: relative;
    width: 100%;
    margin: 0px 0px;
}

.bonus-balance-container .balance-container{
    width: auto;
}

.balance-amount-container{
    position: relative;
    width: 25%;
}

.balance-label{
    position: relative;
    width: auto;
    display: inline-block;
}

.balance-value{
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0px 0px 0px 10px;
}

.balance-button{
    position: relative;
    width: auto;
    display: inline-block;
    margin: 0px 0px 0px 10px;
}

/********************CASHIER STYLES END***********************/

/********************BONUSES STYLES START***********************/

.listView-form .payment-bonus{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.bonuses{
    position: relative;
    width: 100%;
    margin: 20px auto 0px;
    display: none;
}

.bonus-title{
    position: relative;
    width: 100%;
    margin: 0px auto 10px;
    padding: 8px 0px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.bonuses-container{
    position: relative;
    width: 100%;
    margin: 0px auto;
}

.bonus-list{
    list-style: none;
    position: relative;
    width: 80%;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.bonus-container{
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px -4px;
    vertical-align: top;
    width: 20%;
    margin-right: 1%;
    margin-bottom: 10px;
    height: 267px;
}

.bonus-container-promo,
.bonus-container-no
{
    height: 267px;
}

.bonus-container:first-child{
    margin-left: 0px;
}

.bonus-container:last-child{
    margin-right: 0px;
}

.bonus-front{
    position: relative;
    width: 100%;
    border-radius: 2px;
    height: 100%;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.bonus-container-promo .bonus-front,
.bonus-container-no .bonus-front
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.bonus-name{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}

.bonus-img-container{
    position: relative;
    width: 100%;
    height: 116px;
}

.bonus-img{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.bonus-percent{
    position: relative;
    width: 100%;
    text-align: left;
    padding: 5px 0px;
}

.bonus-percent-value {
    position: relative;
    margin: 0px 0px 0px 7px;
}

.bonus-type{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 12px 0px;
}

.bonus-button{
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 24px;
    text-align: center;
    display: inline-block;
    right: 4px;
}

.bonusInfo{
    background-repeat: no-repeat;
}

.bonusHide{
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 6px 6px;
}

.bonus-select-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid white;
    top: 7px;
    cursor: pointer;
}

.bonus-select-button:after {
    position: absolute;
    content: ' ';
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: white;
    opacity: 0;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.bonus-select-button:checked:after {
    opacity: 1;
}

.select-container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    line-height: 34px;
}

.select-text{
    position: relative;
    top: 0px;
    margin-left: 5px;
}

.bonus-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.bonus-skin-title{
    position: relative;
    width: 75%;
    text-align: center;
    margin: 0px auto 25px;
    padding: 5px 0px;
}

.bonus-back-container{
    position: relative;
    width: 95%;
    margin: 0px auto;
    text-align: left;
}

.bonus-info-container{
    position: relative;
    width: 100%;
    margin: 0px auto 5px;
}

.bonus-back-container label{
    position: relative;
    width: 52%;
    display: inline-block;
}

.bonus-read-more-container{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5px 0px 0px;
}

.bonus-read-more{
    position: relative;
    display: inline-block;
    padding: 8px 16px;
}

.bonus-hide-container{
    position: relative;
    width: 100%;
    text-align: right;
}

.bonus-hide-container .bonus-button{
    position: relative;
    top: 0px;
    background-repeat: no-repeat;
    background-position: center center;
}

.select-container-hidden{
    position: absolute;
    bottom: 0px;
}

.bonus-activation-code{
    position: relative;
    width: 100%;
    padding: 36px 0px;
}

.promotion-code-input{
    width: 90%;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    padding: 10px 0px;
    border: none;
    display: block;
    text-indent: 10px;
}

.bonus-text{
    position: relative;
    padding: 15px 0px;
    width: 100%;
    text-align: center;
}

.bonus-container-no .bonus-text{
    position: absolute;
    bottom: 34px;
}

.bonus-container-promo .select-container,
.bonus-container-no .select-container
{
    position: absolute;
    bottom: 0px;
}

.bonuses-bonus-open{
    position: absolute !important;
    padding-bottom: 0px !important;
    right: 0px;
    top: 0px;
}

.deposit-bonus-open{
    left: 0px !important;
    right: 0px !important;
    margin: 0px auto;
    padding: 12px 24px !important;
}

.bonus-hide-info{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.bonus-show-info{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.activateBonus{
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.promotion-code{
    position: relative;
    padding: 0px;
    padding: 5px 0px;
    text-indent: 10px;
    margin-right: 20px;
}

.activate-promo-button,
.activate-bonus-cashier
{
    position: relative;
    background: #0b53a2;
    color: white;
    padding: 4px 10px;
    text-transform: uppercase;
    display: inline-block;
}

.activate-bonus-cashier{
    width: 175px;
    text-align: center;
    padding: 4px 0px;
}

/********************BONUSES STYLES END***********************/

.neo-surf-widget-container {
    position: relative;
    width: 100%;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.neo-surf-widget-container a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: #ff3399;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
}

.player-active-bonus-message-container {
    position: relative;
    padding: 0px 0px 20px 0px;
}

.player-active-bonus-message-wrapper {
    position: relative;
    background-color: #FFCCBC;
    border-radius: 3px;
    padding: 10px 20px;
}

.player-active-bonus-close {
    position: absolute;
    top: -12px;
    right: -12px;
    color: #FFCCBC;
    padding: 0px;
    background-color: #E64A19;
    border: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}

.player-active-bonus-close:before {
    position: absolute;
    content: ' ';
    background: url('/media/images/close_icon.png') no-repeat center center rgba(255,255,255,0);
    background-size: 100% auto;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 0px;
    right: 0px;
    margin: -5px auto 0px;
}

.player-active-bonus-message {
    position: relative;
    width: 100%;
    color: #E64A19;
    font-size: 16px;
}

.player-active-bonus-message a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #E64A19;
    font-weight: 700;
}

.opacity025 {
    opacity: 0.25;
}

.cursorpointer {
    cursor: pointer;
}

@media (max-width: 479px) {
    .player-active-bonus-message {
        font-size: 14px;
    }
}

.withdraw .tabs table {
    border-collapse: separate;
}

.withdraw .tabs table th {
    background-color: #e0e0e0;
    padding: 10px;
    color: #555;
    font-size: 12px;
}

.withdraw .tabs table td {
    background-color: #f8f8f8;
    padding: 10px;
    font-size: 12px;
    color: #555;
}